extends base.pug

block content
    div.video-player__container(data-id=video._id)
        video(src=`/${video.videoUrl}`)
        div.video-player__controls
            div.video-player__play
                span.video-player__playBtn
                    i.fas.fa-play
            div.video-player__time-display
                span.video-player__time-display--current 00:00
                span  / 
                span.video-player__time-display--total 00:00
            input(type="range", step="1", value="0", min="0").video-player__timeline
            div.video-player__volume
                input(type="range", step="0.1", value="0.5", min="0", max="1").video-player__volume--bar
                span.video-player__muteBtn 
                    i.fas.fa-volume-up
            div.video-player__fullscreen
                span.video-player__fullscreenBtn
                    i.fas.fa-expand
    
    div.video__data
        h1.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small=video.createdAt
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
            div.video__add-comments
                form.video__add-comments-form
                    textarea(cols="30", rows="10", placeholder="Write a commment...")
                    button Add Comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    i.fas.fa-comment 
                        span #{comment.text}
                        if String(comment.owner._id) === String(loggedInUser._id)
                            span.video__comment-deleteBtn  ❌
        

    

block script 
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/comment.js")